@font-face {
    font-family: "Poppins";
    src: url("../../public/fonts/Poppins/Poppins-Light.ttf");
    font-weight: light;
}
@font-face {
    font-family: "Poppins";
    src: url("../../public/fonts/Poppins/Poppins-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Poppins";
    src: url("../../public/fonts/Poppins/Poppins-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Courgette";
    src: url("../../public/fonts/Courgette/Courgette-Regular.ttf");
    font-weight: normal;
}