.img-width{
    width:55vw;
    max-width: 500px;
}

.corner{
    @media(max-width: 800px) {
        width: 70px;
    }
}

/*-------- Our story and our menu list -------*/

.bg-theme{
    background-image: url('../images/main_bg.jpg');

    .our-story{
        width:85vw;
        max-width: 1200px;

        .tabs-element {
            width: 100%;
             @media(min-width: 900px) {
                max-width: 200px;
               
            }

            .active{
                background-color: transparent !important;
                border-right: 5px solid $red;

                i{
                    color: $red; 
                }

            }

            i{
                color: #a6a6a6; 
                font-size: 3rem;

                @media(max-width: 768px) {
                    font-size: 2.5rem;
                }

                @media(max-width: 425px) {
                    font-size: 2rem;
                }
            }
        }

        .tab-content{
            .image{
               max-width: 110px; 
            }
        }
    }

    .para{
        max-width: 600px;

        @media(max-width: 800px){
            font-size: .8rem;
        }
    }
}

/*-------- Chef section -------*/

.back-team{
    background-image:url('../images/team_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .chefs{
        max-width: 1400px;
        .chef{
            @media(max-width: 1000px) {
                width: 80%;
            }
    
            @media(max-width: 575px) {
                width: 50%; 
            }
        }
    }
}

.reservation{
    background-image: url('../images/main_bg.jpg');

    .book-table{
        width:85vw;
        max-width: 1200px;
    }

    .bg-contact{
        background-image: url('../images/book_table_bg.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        // height: 500px;
        max-width: 800px;

        .grid-contact{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 1rem;
            column-gap: 2rem;
            width: 85%;
            @media(max-width: 700px) {
                grid-template-columns: 1fr;
            }
        }
        
    }

    .our-blog{
        width: 900px;
        .para{
            font-size: clamp(.8rem, 1.5vw, 1rem);
            width: 100%;
            max-width: 350px;
            .font-sizing{
                font-size: 1.5rem;
                @media(max-width: 768px) {
                    font-size: 1rem;
                }
            }
        }
    }

}

.bg-testimonial{
    background-image: url("../images/testimonials_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    .testimonial-parent{
        width:1150px;
        .groupe-element{
            @media(max-width: 1000px) {
                flex-direction: column;
                align-items: center;
            }
            .testimonial{
                width: 48%;
                @media(max-width: 1000px) {
                    width: 100%;
                }
    
                .avatar{
                    width:150px;
                }
            }
        }
    }
}

.reach-us{

    background-image: url('../images/main_bg.jpg');

    .contact-width{
        max-width: 450px;
    }
}