.img-width{
    width:55vw;
    max-width: 500px;
}

/*-------- Our story and our menu list -------*/

.bg-theme{
    background-image: url('../../../../public/images/main_bg.jpg');

    .our-story{
        width:85vw;
        max-width: 1200px;
    }

    .para{
        max-width: 600px;

        @media(max-width: 800px){
            font-size: .8rem;
        }
    }

    .corner{
        @media(max-width: 800px) {
            width: 70px;
        }
    }
}

/*-------- Chef section -------*/

.chefs{
    max-width: 1400px;
    .chef{
        @media(max-width: 1000px) {
            width: 80%;
        }

        @media(max-width: 575px) {
            width: 50%; 
        }
    }
}